<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>New Category</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="catForm" (ngSubmit)="saveCategory()">
        <ion-item>
            <ion-label>Label</ion-label>
            <ion-input type="text" formControlName="label"></ion-input>
        </ion-item>
        <ion-buttons end>
            <button ion-button color="danger"
            *ngIf="modCategory.id != 0" (click)="delCategory()">Delete
            </button>
            <button ion-button type="submit" 
            [disabled]="!catForm.valid">Save</button>
        </ion-buttons>
    </form>
</ion-content>